// @media (max-width: 1200px) {
//     .all__loading {
//         margin-bottom: 90px;
//         max-width: 600px;
//     }
// }

@media (max-width: 390px) {
    .main {
        height: 400px;
        &__circle {
            bottom: -28%;
            img {
                width: 200px;
            }
        }
        &__title {
            padding-top: 120px;
            font-size: 40px;
        }
    }
} 
@media (max-width: 476px) {
    .index__map {
        width: 100%;
    }
}