@media (max-width: 1200px) {
    .menu__loading {
        &::after {
            right: 0;
            left: 50%;
            transform: translateX(-50%);
            top: 60px;
            width: 335px;
        }
    }
}

@media (max-width: 400px) {
    .menu__loading {
        width: 10%;
        &::after {
            right: 0;
            left: 50%;
            transform: translateX(-50%);
            top: 60px;
            width: 220px;
        }
    }
}
@media (max-width: 584px) {
    .menu {
        &__menu {
            display: block;
        }
        &__list {
            display: none;
            width: 100%;
            margin-top: 30px;
        }
        // &__menu.menu__menu-active .menu__list {
        //     display: block;
        // }
        &__content {
            flex-direction: column;
        }
        &__foods {
            margin: 0 auto;
            width: 100%;
            margin-top: 25px;
        }
        &__list {
            border-right: none;
        }
        &__item-link {
            width: 100%;
            &-active {
                &::before {
                    display: none;
                }
            }
        }
    }
}