@import "header";
@import "glav";
@import "description";
@import "cake";
@import "about";
@import "slider";
@import "contact";
@import "footer";
@import "hamburger";
@import "tort";
@import "modal";
@import "adress";
@import "media";
@import "menu";
@import "item";
@import "error";
@media (max-width: 639px) {
    .yellowBlock {
        width: 90%;
        top: 40px;
    }
}
@media (max-width: 420px) {
    .yellowBlock {
        top: 28px;
    }
}
