.cake {
    position: relative;
    margin-top: 60px;
    &__ponchik {
        width: 100px;
        margin: 0 auto;
    }
    &__items {
        display: flex;
        position: relative;
        height: 740px;
    }
    &__item {
        position: absolute;
    }
    &-one {
        left: 0;
    }
    &-two {
        top: 192px;
        left: 200px;
    }
    &-three {
        left: 40%;
        top: 300px;
        transform: translateX(-50%);
    }
    &-four {
        top: 192px;
        right: 200px;
    }
    &-five {
        right: 0;
    }
    &__info {
        box-sizing: border-box;
        position: absolute;
        width: 300px;
        padding: 30px 30px 18px;
        z-index: 1000;
        background: rgba(255,255,255,.7);
        text-align: left;
        left: 50%;
        transform: translateX(-50%);
        top: -50px;
        color: #26547c;
        border: 1px solid #b7b7b7;
    }
    &__title {
        font-size: 30px;
        margin-bottom: 15px;
    }
    &__description {
        margin-bottom: 20px;
    }
    &__footer {
        text-align: right;
        font-size: 23px;
        font-weight: 600;
        span + span {
            margin-left: 15px;
        }
    }
}

.cake__item{
    animation-name: floating;
    -webkit-animation-name: floating;
 
    animation-duration: 3s;   
    -webkit-animation-duration: 3s;
 
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
}
.cake-three {
    animation-duration: 6s;   
    -webkit-animation-duration: 6s;
}
 
@keyframes floating {
    0% {
        transform: translateY(0%);  
    }
    50% {
        transform: translateY(20%);  
    }   
    100% {
        transform: translateY(0%);
    }           
}
 
@-webkit-keyframes floating {
    0% {
        -webkit-transform: translateY(0%);  
    }
    50% {
        -webkit-transform: translateY(20%);  
    }   
    100% {
        -webkit-transform: translateY(0%);
    }           
}