.menu {
    &__container {
        max-width: 1200px;
        margin: 0 auto 70px;
        padding: 0 15px;
    }
    &__menu {
        color: #06d6a0;
        font-family: "Junegull";
        font-size: 28px;
        letter-spacing: -0.48px;
        text-decoration: none;
        position: relative;
        width: 95%;
        display: block;
        margin-bottom: 25px;
        display: none;
        &::after {
            content: "";
            width: 15px;
            top: 0;
            transform: rotate(135deg) translateY(-50%);
            position: absolute;
            height: 15px;
            right: 0;
            border-top: 2px solid #06d6a0;
            border-right: 2px solid #06d6a0;
        }
        &-active {
            &::after {
                transform: rotate(315deg) translateY(-50%);
                top: 18px;
            }
        }
    }
    &__content {
        display: flex;
        justify-content: space-between;
    }
    &__head {
        border: 1px solid #ebebeb;
    }
    &__list {
        width: 30%;
        border-right: 2px solid #f1f8fb;
    }
    &__item + &__item {
        margin-top: 21px;
    }
    &__item {
        &-link {
            color: #26547c;
            font-family: "Junegull";
            font-size: 24px;
            letter-spacing: -0.48px;
            text-decoration: none;
            position: relative;
            width: 95%;
            display: block;
            transition: all .3s;
            &-active {
                position: relative;
                color: #06d6a0;
                &::before {
                    content: "";
                    right: -35px;
                    position: absolute;
                    display: block;
                    top: 11px;
                    width: 39px;
                    height: 5px;
                    background: url(./assets/images/static/small-line.png);
                }
            }
            // -active-active
        }
        &:hover {
            a {
                position: relative;
                color: #06d6a0;
                &::before {
                    content: "";
                    right: -35px;
                    position: absolute;
                    display: block;
                    top: 11px;
                    width: 39px;
                    height: 5px;
                    background: url(./assets/images/static/small-line.png);
                }
            }
        }
    }
    &__opis {
        width: 87%;
        margin: 0;
        text-transform: none;
        font-size: 12px;
        color: #ef476f;
        margin-top: 20px;
        padding: 2px 0;
        text-align: left;
        font-family: "Gotham";
    }
    &__foods {
        width: 64%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    &__loading {
        margin-bottom: 0;
        margin-top: 70px;
        &::after {
            right: -235px;
        }
    }
}