.programLoyal {
    margin: 60px 0 40px;
    &__items {
        display: flex;
        justify-content: space-between;
        max-width: 670px;
        margin: 0 auto;
        padding: 0 10px;
    }
    &__item {
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
        color: #26547c;
        font-family: Verdana;
        font-size: 16px;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: -0.32px;
        &-one {
            width: 61px;
        }
        &-two {
            width: 63px;
        }
        &-three {
            width: 130px;
        }
        &-four {
            width: 140px;
        }
    }
}