.slider {
    img {
        height: 100%;
        display: block;
    }
    &__wrapper {
        max-width: 944px;
        max-height: 450px;
        height: auto;
        margin: 0 auto;
        position: relative;
        overflow: hidden;
    }
    &__content {
        display: flex;
        height: 100%;
        transition: all .7s;
    }
    &__item {
        height: 100%;
    }
    &__button {
        z-index: 1000;
        background: transparent;
        border: none;
        border-top: 4px solid #06d6a0;
        border-right: 4px solid #06d6a0;
        width: 25px;
        height: 25px;
        position: absolute;
        top: 50%;
        // transform: translateX(-50%);
        cursor: pointer;
    }
    &__left {
        left: 50px;
        transform: rotate(220deg) translateY(-50%);
    }
    &__right {
        right: 50px;
        transform: rotate(45deg) translateY(-50%);
    }
    &__dots {
        display: flex;
        justify-content: center;
        margin-top: 15px;
    }
    &__dot {
        width: 10px;
        height: 10px;
        background: #ffd166;
        border-radius: 100%;
    }
    &__dot + &__dot {
        margin-left: 8px;
        cursor: pointer;
    }
    &__dot-active {
        background: #06d6a0;
    }
}