@import "settings";
@import "tools";
@import "main";
@import "media";
@import "glav";
@import "description";
@import "cake";
@import "about";
@import "slider";
@import "contact";
@import "footer";
@import "infoTorts";
@import "tort";
@import "modal";
@import "adress";
@import "program";
@import "programLoyal";
@import "question";
@import "application";
@import "menu";
@import "item";
@import "error";
@import "animate";
@import "humburger";


.footer__container {
    max-width: 840px;
}
.contact__map {
    max-width: 1920px;
    margin: 0 auto;
    height: 550px;
}
iframe {
    border: 0px;
}
.menu__loading {
    margin-bottom: 0;
    margin-top: 70px;
    &::after {
        right: -235px;
    }
}
.all__loading {
    margin-bottom: 70px;
    max-width: 600px;
}
.tort__item {
    text-decoration: none;
}

.tort__loading {
    margin-top: 70px;
    // margin-bottom: 70px;
}
.tort__items {
    margin-bottom: 70px;
}
.modal__disabled, .modal__submit {
    padding-left: 28px;
    padding-right: 28px;
}

.application__label-one::after , .application__label-two::after {
    display: none;
}

.application__label {
    margin: 15px;
    padding-left: 15px;
    display: flex;
    align-items: center;
    span {
        padding-left: 25px;
    }
}
.application__label-one {
    left: 56px;
}
.infoTorts__goHome {
    font-family: "Lato";
}